body {
  font-family: 'Fira Sans', sans-serif;
  background-color: gray;
}

header {
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}

#currentDay {
  font-size: 20px;
}

.time-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  .past .description {
    background-color: #d3d3d3; /* Gray */
  }
  
}

.hour {
  width: 80px;
  text-align: center;
}

.description {
  flex-grow: 1;
  margin: 0 10px;
  padding: 5px;
  border: none;
}

.saveBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.saveBtn {
  background-color: #06aed5;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.confirmBtn {
  background-color: #e91818; /* Green */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.deleteBtn {
  background-color: #0ecf2e; /* Red */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
